﻿.wrapper {
  margin-top: 15%;
  text-align: center;
  font: 18px/22px 'Myriad Pro',sans-serif;
  color: #414141;
}
h1 {
  font: 35px/45px 'Myriad Pro',sans-serif;
  color: #000;
}
p {
  padding: 0 20%;
}
a {
 color: #3284ea;
 text-decoration: underline;
}
a:hover {
 color: red;
}