* {
  margin: 0;
  padding: 0;
}
img {
  border: none;
  outline: none;
}
input, textarea, select {
  outline: none;
}
html, body {
  background: #fff;
  font: 12px 'Tahoma',sans;
  color: #000;
}
a {
  color: #0066cc;
  text-decoration: underline;
}
a:hover {
  color: red;
}
h1 {
  font: 25px 'Georgia',serif;
  color: #000;
}
.header {
  background: #ea5010;
	background: linear-gradient(left, #ea5010, #fd792f);
	background: -webkit-gradient(linear, left top, right bottom, from(#ea5010), to(#fd792f));
	background: -moz-linear-gradient(left, #ea5010, #fd792f);
	background-image: -o-linear-gradient(left, #ea5010, #fd792f);
	background: -webkit-linear-gradient(left, #fa9a60, #ea5010); /*new webkit*/
	background: -ms-linear-gradient(left, #fa9a60, #ea5010);
	-pie-background: linear-gradient(left, #ea5010, #fd792f);
  behavior: url('./PIE.htc');
}
.logo {
  padding: 30px 3%;
}
.logo span {
  position: relative;
  top: -21px;
  left: 0;
  font-size: 10px;
  color: #fff;
}
.bar {
  background: url('./img/bar.png');
  overflow: hidden;
}
.bar .menu {
  float: left;
  overflow: hidden;
  margin: 0 -20px 0 0;
  padding: 0 0 0 3%;
}
.bar .menu li {
  margin: 0 20px 0 0;
  padding: 0;
  list-style: none;
  float: left;
}
.bar .menu li a {
  display: block;
  color: #fff;
  padding: 7px 0 10px;
}
.bar .menu li a:hover {
  text-decoration: none;
}
.bar .menu li.active a {
  background: url('./img/menu_active.png');
  padding: 7px 15px 10px;
}
.wrapper {
  overflow: hidden;
  padding: 20px 3%;
}
.sidebar {
  width: 300px;
  float: left;
}
.content {
  margin-left: 320px;
}
ul.temps, ul.temps li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.temps {
  margin-bottom: 15px;
}
ul.temps li {
  padding-bottom: 2px;
}
ul.temps li.tempsHead {
  padding: 0
}
ul.temps li.active a, ul.temps li.active a:hover {
  color: #000;
  text-decoration: none;
  cursor: default;
}
.tmlForm {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc !important;
}
.tmlSubmit {
  text-align: center;
  margin: 5px 0 0 0;
}
.tmlSubmit input {
  padding: 3px 15px;
}
.codeTop {
  border-bottom: 1px solid #b3b3b3;
  margin: 0 0 25px;
}
.codeBottom {
  border-bottom: 1px solid #b3b3b3;
  margin: -10px 0 0;
}
.codeTop span, .codeBottom span {
  font-size: 11px;
  color: #b3b3b3;
  position: relative;
  top: 9px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
}
.code {
  padding-bottom: 15px;
}
.code span {
  background: #fefefe;
  border: 1px solid #ccc;
  padding: 1px 3px;
  cursor: text;
}
.users {
  width: 100%;
  border-collapse: collapse;
}
.users td, .users th {
  padding: 3px 5px;
  border: 1px solid #ccc;
}
.users th {
  background: #efefef;
}
col.tdId, col.tdModer {
  width: 10px;
}
.tModer {
  text-align: center;
}
.pageSelect {
  text-align: right;
  margin: 10px 0 0 0;
}
.pageSelect strong, .pageSelect a {
  padding: 5px 10px;
}
.pageSelect strong {
  background: #5f3db6;
  color: #fff;
}
.userSearch {
  float: right;
  overflow: hidden;
}
.userSearchText {
  padding: 2px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.userSearchText:focus {
  border-color: gray;
}
.userSearchSubmit {
  padding: 2px 10px;
}
@-moz-document url-prefix(){.userSearchSubmit {padding: 0;}}
.fr {
  margin-top: 5px;
}
.fr label {
  font-size: 10px;
}
.fr textarea, .fr input {
  width: 40%;
  padding: 3px;
  border: 1px solid #ccc;
}
.fr input.checkbox {
  width: auto;
}
.fr textarea:focus, .fr input:focus {
  border-color: gray;
}
.save input {
  padding: 3px 15px;
  margin: 10px 0 0 0;
}
.pagePanel {
  float: right;
  overflow: hidden;
  position: relative;
  top: 7px;
}
.pView, .pDelete, .pAdd {
  float: left;
  display: block;
  padding: 1px 0 1px 20px;
}
.pView {
  background: url('./img/profile.png') no-repeat left center;
  padding-right: 10px;
}
.pDelete {
  background: url('./img/delete.png') no-repeat left center;
}
.pAdd {
  background: url('./img/add.png') no-repeat left center;
  padding-right: 10px;
}