
body .imp_redactor_box {
	border: 1px solid #e5e5e5;
	background-color: #fff;
	line-height: 1;
	position: relative;
	z-index: 1;
	font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;  
	width: 100% !important;	
}
body .imp_redactor_frame {
	width: 100%;
}
body .imp_redactor_box textarea {
	overflow: auto !important;
	border: none !important;
	// border-color: #fff;
	// width: 99.8% !important;
	font-size: 13px !important;
	white-space: pre !important;	
}
body .imp_redactor_toolbar, body .imp_redactor_toolbar li, body .imp_redactor_drop_down, body .imp_redactor_drop_down li {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
	line-height: 1;
}
body .imp_redactor_toolbar {
	position: relative !important;
	float: left !important;
	width: 100% !important;
	height: 32px !important;	
}
body .imp_redactor_toolbar li {
	float: left !important;
	width: 32px;
	height: 32px !important;
	position: relative !important;
}
body .imp_redactor_toolbar li.act {
	z-index: 3;
}
body .imp_redactor_toolbar li a {
	display: block;
	height: 32px;
	zoom: 1;
	overflow: hidden;
}
body .imp_redactor_toolbar li.separator {
	width: 2px;
	margin: 0 3px;	
}
body .imp_redactor_drop_down {
	z-index: 2;
	position: absolute;
	top: 32px;
	left: 0;
	background-color: #fff;
	box-shadow: 0px 1px 5px #666;
	-webkit-box-shadow: 0 1px 5px #666; 
  	-moz-box-shadow: 0 1px 5px #666; 	  	
}
body .imp_redactor_drop_down li {
	font-size: 12px !important;
	float: none;
	list-style: none !important;	
	width: 200px;	
	height: auto !important;
	background: none !important;	
}
body .imp_redactor_drop_down li.separator_drop {
	border-bottom: 1px solid #eee;
}
body .imp_redactor_drop_down li a {
	color: #000 !important;
	text-decoration: none !important;
	height: auto;	
	display: block;
	padding: 6px 36px 6px 8px;
	background: none;
}
body .imp_redactor_drop_down li a:hover {
	color: #000 !important;
	text-decoration: none !important;
	background-color: #eee;
}
body .imp_redactor_drop_down li a.redactor_color_link {
	padding: 0;
	display: block !important;
	width: 15px !important;
	height: 15px !important;
	float: left !important;
	border: 2px solid #fff !important;
	font-size: 1px;
}
								


body .imp_redactor_resize {	
	cursor: s-resize;
	height: 8px !important;
	line-height: 1 !important;
	font-size: 1px !important;
}
body .imp_redactor_resize div {
	height: 8px !important;
	line-height: 0 !important;
	font-size: 1px !important;
}




/* SKINS */

/* =Carrara White
-----------------------------------------------------------------------------*/
body .imp_redactor_box_carrara_white .imp_redactor_toolbar {
	background: url(../i/bg_carrara_white.png) repeat-x top #d1d1d1;
	border-bottom: 1px solid #b2b2b2;
}
body .imp_redactor_box_carrara_white .imp_redactor_toolbar li.act {
	background: url(../i/hover.png) repeat-x;
}
body .imp_redactor_box_carrara_white .imp_redactor_toolbar li a {
	background: url(../i/icons.png) no-repeat;	
}
body .imp_redactor_box_carrara_white .imp_redactor_toolbar li:hover {
	background: url(../i/hover.png) repeat-x;
}
body .imp_redactor_box_carrara_white .imp_redactor_resize {
	border-top: 1px solid #d7d6d6 !important;
	background: url(../i/bg_carrara_white.png) repeat-x !important;	
}
body .imp_redactor_box_carrara_white .imp_redactor_resize div {
	background: url(../i/resizer.gif) center no-repeat !important;
}
body .imp_redactor_box_carrara_white .imp_redactor_toolbar li.separator {
	background: url(../i/separator.png) no-repeat right;
}

/* =Cream White
-----------------------------------------------------------------------------*/
body .imp_redactor_box_cream_white .imp_redactor_toolbar {
	background: url(../i/bg_cream_white.png) repeat-x top #ddd4c7;
	border-bottom: 1px solid #b2b2b2;
}
body .imp_redactor_box_cream_white .imp_redactor_toolbar li.act {
	background: url(../i/hover.png) repeat-x;
}
body .imp_redactor_box_cream_white .imp_redactor_toolbar li a {
	background: url(../i/icons.png) no-repeat;	
}
body .imp_redactor_box_cream_white .imp_redactor_toolbar li:hover {
	background: url(../i/hover.png) repeat-x;
}
body .imp_redactor_box_cream_white .imp_redactor_resize {
	border-top: 1px solid #d7d6d6 !important;
	background: url(../i/bg_cream_white.png) repeat-x !important;	
}
body .imp_redactor_box_cream_white .imp_redactor_resize div {
	background: url(../i/resizer.gif) center no-repeat !important;
}
body .imp_redactor_box_cream_white .imp_redactor_toolbar li.separator {
	background: url(../i/separator.png) no-repeat right;
}

/* =Arctic Silver
-----------------------------------------------------------------------------*/
body .imp_redactor_box_arctic_silver .imp_redactor_toolbar {
	background: url(../i/bg_arctic_silver.png) repeat-x top #b9c7d4;
	border-bottom: 1px solid #7f7f7f;
}
body .imp_redactor_box_arctic_silver .imp_redactor_toolbar li.act {
	background: url(../i/hover.png) repeat-x;
}
body .imp_redactor_box_arctic_silver .imp_redactor_toolbar li a {
	background: url(../i/icons.png) no-repeat;	
}
body .imp_redactor_box_arctic_silver .imp_redactor_toolbar li:hover {
	background: url(../i/hover.png) repeat-x;
}
body .imp_redactor_box_arctic_silver .imp_redactor_resize {
	border-top: 1px solid #d7d6d6 !important;
	background: url(../i/bg_arctic_silver.png) repeat-x !important;	
}
body .imp_redactor_box_arctic_silver .imp_redactor_resize div {
	background: url(../i/resizer.gif) center no-repeat !important;
}
body .imp_redactor_box_arctic_silver .imp_redactor_toolbar li.separator {
	background: url(../i/separator.png) no-repeat right;
}

/* =Racing Green
-----------------------------------------------------------------------------*/
body .imp_redactor_box_racing_green .imp_redactor_toolbar {
	background: url(../i/bg_racing_green.png) repeat-x top #546762;
	border-bottom: 1px solid #151515;
}
body .imp_redactor_box_racing_green .imp_redactor_toolbar li.act {
	background: url(../i/hover_invert.png) repeat-x;
}
body .imp_redactor_box_racing_green .imp_redactor_toolbar li a {
	background: url(../i/icons_invert.png) no-repeat;	
}
body .imp_redactor_box_racing_green .imp_redactor_toolbar li:hover {
	background: url(../i/hover_invert.png) repeat-x;
}
body .imp_redactor_box_racing_green .imp_redactor_resize {
	border-top: 1px solid #666 !important;
	background: url(../i/bg_racing_green.png) repeat-x !important;	
}
body .imp_redactor_box_racing_green .imp_redactor_resize div {
	background: url(../i/resizer_invert.png) center no-repeat !important;
}
body .imp_redactor_box_racing_green .imp_redactor_toolbar li.separator {
	background: url(../i/separator_invert.png) no-repeat right;
}

/* =Brown
-----------------------------------------------------------------------------*/
body .imp_redactor_box_brown .imp_redactor_toolbar {
	background: url(../i/bg_brown.png) repeat-x top #332118;
	border-bottom: 1px solid #151515;
}
body .imp_redactor_box_brown .imp_redactor_toolbar li.act {
	background: url(../i/hover_invert.png) repeat-x;
}
body .imp_redactor_box_brown .imp_redactor_toolbar li a {
	background: url(../i/icons_invert.png) no-repeat;	
}
body .imp_redactor_box_brown .imp_redactor_toolbar li:hover {
	background: url(../i/hover_invert.png) repeat-x;
}
body .imp_redactor_box_brown .imp_redactor_resize {
	border-top: 1px solid #151515 !important;
	background: url(../i/bg_brown.png) repeat-x !important;	
}
body .imp_redactor_box_brown .imp_redactor_resize div {
	background: url(../i/resizer_invert.png) center no-repeat !important;
}
body .imp_redactor_box_brown .imp_redactor_toolbar li.separator {
	background: url(../i/separator_invert.png) no-repeat right;
}

/* =Macadamia
-----------------------------------------------------------------------------*/
body .imp_redactor_box_macadamia .imp_redactor_toolbar {
	background: url(../i/bg_macadamia.png) repeat-x top #705246;
	border-bottom: 1px solid #151515;
}
body .imp_redactor_box_macadamia .imp_redactor_toolbar li.act {
	background: url(../i/hover_invert.png) repeat-x;
}
body .imp_redactor_box_macadamia .imp_redactor_toolbar li a {
	background: url(../i/icons_invert.png) no-repeat;	
}
body .imp_redactor_box_macadamia .imp_redactor_toolbar li:hover {
	background: url(../i/hover_invert.png) repeat-x;
}
body .imp_redactor_box_macadamia .imp_redactor_resize {
	border-top: 1px solid #666 !important;
	background: url(../i/bg_macadamia.png) repeat-x !important;	
}
body .imp_redactor_box_macadamia .imp_redactor_resize div {
	background: url(../i/resizer_invert.png) center no-repeat !important;
}
body .imp_redactor_box_macadamia .imp_redactor_toolbar li.separator {
	background: url(../i/separator_invert.png) no-repeat right;
}

/* =Guards Red
-----------------------------------------------------------------------------*/
body .imp_redactor_box_guards_red .imp_redactor_toolbar {
	background: url(../i/bg_guards_red.png) repeat-x top #8e1316;
	border-bottom: 1px solid #151515;
}
body .imp_redactor_box_guards_red .imp_redactor_toolbar li.act {
	background: url(../i/hover_invert.png) repeat-x;
}
body .imp_redactor_box_guards_red .imp_redactor_toolbar li a {
	background: url(../i/icons_invert.png) no-repeat;	
}
body .imp_redactor_box_guards_red .imp_redactor_toolbar li:hover {
	background: url(../i/hover_invert.png) repeat-x;
}
body .imp_redactor_box_guards_red .imp_redactor_resize {
	border-top: 1px solid #777 !important;
	background: url(../i/bg_guards_red.png) repeat-x !important;	
}
body .imp_redactor_box_guards_red .imp_redactor_resize div {
	background: url(../i/resizer_invert.png) center no-repeat !important;
}
body .imp_redactor_box_guards_red .imp_redactor_toolbar li.separator {
	background: url(../i/separator_invert.png) no-repeat right;
}


/* BUTTONS */
body .imp_redactor_toolbar li a.imp_btn_html 		 { background-position: 0; }
body .imp_redactor_toolbar li a.imp_btn_styles 		 { background-position: -32px; }
body .imp_redactor_toolbar li a.imp_btn_format 		 { background-position: -64px; }
body .imp_redactor_toolbar li a.imp_btn_lists 		 { background-position: -96px; }
body .imp_redactor_toolbar li a.imp_btn_image 		 { background-position: -128px; }
body .imp_redactor_toolbar li a.imp_btn_table 		 { background-position: -160px; }
body .imp_redactor_toolbar li a.imp_btn_link 		 { background-position: -192px; }
body .imp_redactor_toolbar li a.imp_btn_video 		 { background-position: -224px; }
body .imp_redactor_toolbar li a.imp_btn_fullscreen 	 { background-position: -256px; }
body .imp_redactor_toolbar li a.imp_btn_undo 		 { background-position: -288px; }
body .imp_redactor_toolbar li a.imp_btn_redo		 { background-position: -320px; }
body .imp_redactor_toolbar li a.imp_btn_bold		 { background-position: -352px; }
body .imp_redactor_toolbar li a.imp_btn_italic 		 { background-position: -384px; }
body .imp_redactor_toolbar li a.imp_btn_superscript  { background-position: -416px; }
body .imp_redactor_toolbar li a.imp_btn_file 		 { background-position: -448px; }
body .imp_redactor_toolbar li a.imp_btn_hr 			 { background-position: -480px; }
body .imp_redactor_toolbar li a.imp_btn_align 		 { background-position: -512px; }
body .imp_redactor_toolbar li a.imp_btn_align_center { background-position: -544px; }
body .imp_redactor_toolbar li a.imp_btn_align_right  { background-position: -576px; }
body .imp_redactor_toolbar li a.imp_btn_outdent 	 { background-position: -608px; }
body .imp_redactor_toolbar li a.imp_btn_indent 		 { background-position: -640px; }
body .imp_redactor_toolbar li a.imp_btn_charmap 	 { background-position: -672px; }
body .imp_redactor_toolbar li a.imp_btn_backcolor  	 { background-position: -704px; }
body .imp_redactor_toolbar li a.imp_btn_fontcolor	 { background-position: -736px; }
body .imp_redactor_toolbar li a.imp_btn_orderlist 	 { background-position: -768px; }
body .imp_redactor_toolbar li a.imp_btn_align_left 	 { background-position: -800px; }
body .imp_redactor_toolbar li a.imp_btn_cut			 { background-position: -832px; }
body .imp_redactor_toolbar li a.imp_btn_strike   	 { background-position: -864px; }
body .imp_redactor_toolbar li a.imp_btn_unorderlist	 { background-position: -896px; }
body .imp_redactor_toolbar li a.imp_btn_format_clean { background-position: -928px; }





/* MODAL */
#redactor_imp_modal_overlay {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter:alpha(opacity=60);
	opacity: 0.60;
	background-color: #000 !important;
}
#redactor_imp_modal_overlay[id] { position: fixed; }

#redactor_imp_modal {
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	
	box-shadow: 0px 5px 20px #333;
	-webkit-box-shadow: 0 5px 20px #333; 
  	-moz-box-shadow: 0 5px 20px #333;		
  	
  	z-index: 50001;	
  	
	font-family: "Trebuchet MS", "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;   	
	color: #000;
}
#redactor_imp_modal_header {
	padding: 30px 40px;
	font-size: 24px;
}
#redactor_imp_modal_inner {
	padding: 0 40px 30px 40px;
}
#redactor_imp_modal_close {
	position: absolute;
	right: -11px;
	top: -11px;
	width: 30px;
	height: 30px;
	background: url(../i/close.png) no-repeat;
	cursor: pointer;
}
.redactor_ruler td {
	font-size: 12px;
	padding: 5px;
	border: none;
}

/* CHARMAP */
#redactor_charmap {
	overflow: hidden;
	margin-bottom: 1.5em;
}
#redactor_charmap a, #redactor_charmap a:hover {
	float: left;
	text-decoration: none !important;
	color: #333 !important;
	border: 1px solid #eee;
	display: block;
	line-height: 1;
	width: 20px;
	text-align: center;
	padding: 4px 0;
	font-size: 18px;
}
#redactor_charmap a:hover {
	background-color: #000;
	color: #fff !important;
	border: 1px solid #900;
}
