{section name=i loop=$list.entries}
			  <div id="newsId{$list.entries[i].id}" class="newPost">
			    <div class="newPostData"><h1><a href="{$list.entries[i].url.view}">{$list.entries[i].title}</a></h1></div>
				<div class="newPostMessage">
				  <p>{$list.entries[i].video}</p>
				  <p>{$list.entries[i].message}</p>
				</div>
				{if $site.user.group == 1}<div class="newPostModer">
				  <a href="{$list.entries[i].url.edit}">редактировать</a>
				  <a href="{$list.entries[i].url.delete}">удалить</a>
				</div>{/if}
			  </div>
{/section}